{% extends '@DatingLibreApp/unauthenticated.html.twig' %}
{% block title %}{{ 'registration.terms_and_conditions'|trans }}{% endblock %}
{% block content %}
    <div id="terms_and_conditions">
        <h1 class="font-weight-normal">Terms and Conditions</h1>
        <div class="card">
            <div class="card-body">
                <p>This site is provided solely for demonstration purposes of <a href="https://github.com/datinglibre/datinglibre">Dating Libre</a>.</p>
                <p>Please only use test data that you would be happy to share publicly.</p>
                <p>You can sign up for evaluation purposes only and your profile will be deleted automatically after an hour.<div>
            </div>
        </div>
    </div>
{% endblock %}