<?xml version="1.0" encoding="UTF-8"?>
<routes xmlns="http://symfony.com/schema/routing" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://symfony.com/schema/routing http://symfony.com/schema/routing/routing-1.0.xsd">
    <route id="block_user" path="/block/{userId}" controller="DatingLibre\AppBundle\Controller\BlockController::block" methods="GET|POST" />
    <route id="matches_index" path="/matches" controller="DatingLibre\AppBundle\Controller\MatchesController::matches" methods="GET" />
    <route id="message_send" path="/message/{userId}" controller="DatingLibre\AppBundle\Controller\MessageSendController::message" methods="GET|POST" />
    <route id="moderate_profile_images" path="/moderator/profile/images" controller="DatingLibre\AppBundle\Controller\ModerateImageController::index" methods="GET|POST" />
    <route id="account_delete" path="/account/delete" controller="DatingLibre\AppBundle\Controller\AccountDeleteController::delete" methods="GET|POST" />
    <route id="profile_edit" path="/profile/edit" controller="DatingLibre\AppBundle\Controller\ProfileEditController::edit" methods="GET|POST" />
    <route id="profile_image" path="/profile/image" controller="DatingLibre\AppBundle\Controller\ProfileImageController::index" methods="GET|POST" />
    <route id="profile_index" path="/profile" controller="DatingLibre\AppBundle\Controller\ProfileIndexController::index" methods="GET" />
    <route id="country_regions" path="/location/country/{countryId}/regions" controller="DatingLibre\AppBundle\Controller\LocationController::displayRegions" methods="GET" />
    <route id="region_cities" path="/location/region/{regionId}/cities" controller="DatingLibre\AppBundle\Controller\LocationController::displayCities" methods="GET" />
    <route id="login" path="/" controller="DatingLibre\AppBundle\Controller\LoginController::login" />
    <route id="register" path="/register" controller="DatingLibre\AppBundle\Controller\RegisterController::register" methods="GET|POST" />
    <route id="update_password" path="/user/password" controller="DatingLibre\AppBundle\Controller\PasswordUpdateController::processPasswordReset" methods="GET|POST">
        <condition>request.get('userId') matches '/^[0-9A-F]{8}-[0-9A-F]{4}-4[0-9A-F]{3}-[89AB][0-9A-F]{3}-[0-9A-F]{12}$/i'</condition>
    </route>
    <route id="reset_password" path="/user/password" controller="DatingLibre\AppBundle\Controller\PasswordResetController::password" methods="GET|POST" />
    <route id="search_index" path="/search" controller="DatingLibre\AppBundle\Controller\SearchIndexController::index" methods="GET|POST" />
    <route id="search_profile_view" path="/profile/{userId}/view" controller="DatingLibre\AppBundle\Controller\SearchProfileViewController::index" methods="GET" />
    <route id="register_terms" path="/register/terms" controller="DatingLibre\AppBundle\Controller\RegisterController::terms" methods="GET" />
    <route id="process_token" path="/token/{secret}" controller="DatingLibre\AppBundle\Controller\TokenController::processConfirm" methods="GET" />
    <route id="events_index" path="/admin/events" controller="DatingLibre\AppBundle\Controller\EventController::displayEvents" methods="GET|POST" />
    <route id="account_subscription" path="/account/subscription" controller="DatingLibre\AppBundle\Controller\AccountSubscriptionController::viewSubscription" methods="GET" />
    <route id="ccbill_webhook" path="/ccbill/webhook" controller="DatingLibre\AppBundle\Controller\CcBillWebhookController::webhook" methods="GET|POST" />
</routes>
