<div class="list-group">
    {% from '@DatingLibreApp/macros/is_active.html.twig' import is_active %}
    <a href="{{ path('matches_index' ) }}" class="{{ is_active('matches_index') }} list-group-item list-group-item-action">{{ 'menu.matches'|trans }}</a>
</div>
