<html>
<head>
</head>
<body>
<p>{{ 'user.confirm'|trans }}</p>
<p><a href="{{ url('process_token', {'userId': userId, 'secret': secret, 'type': 'signup'}) }}">{{ 'user.confirm_link'|trans }}</a></p>
</body>
</html>